# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1ed9bb9c26a05a495737cbbcbe80f75061a8d22ee3ba61deb59b857fea661bcd33257341a7cb76d99e115b2a632bb220fd06a91273845ec459a962d3eb23892d


test:
  secret_key_base: beb4c2cb77af67cdeea71df3e2d01f3405171bf1b292a5596247aecf8382f6f25e5d13ae87b6159d3ce9372f9aedd526072f810af2c909a72fa9d694881e763e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
